#!/bin/bash

PROM_DIR=/var/lib/node_exporter/metrics

ENABLED={{ if exists "/config/enabled" }}{{ getv "/config/enabled" }}{{ else }}0{{ end }}

if [ "$ENABLED" == "1" ]; then

  # Link in our build versions
  if [ -r /etc/nubis_versions.prom ]; then
    ln -sf /etc/nubis_versions.prom "$PROM_DIR/nubis_versions.prom"
  fi

  # Generate fake metrics for Nubis propreties
  NUBIS_PROJECT=$(nubis-metadata NUBIS_PROJECT)
  NUBIS_ARENA=$(nubis-metadata NUBIS_ARENA)
  NUBIS_ENVIRONMENT=$(nubis-metadata NUBIS_ENVIRONMENT)
  NUBIS_ACCOUNT=$(nubis-metadata NUBIS_ACCOUNT)
  NUBIS_PURPOSE=$(nubis-metadata NUBIS_PURPOSE)

  # Platform
  NUBIS_PLATFORM="$(jq -r '.variables.platform' /etc/nubis/project.json)"

  if [ -z "${NUBIS_PLATFORM}" ] || [ "${NUBIS_PLATFORM}" == 'null' ]; then
    NUBIS_PLATFORM="application"
  fi

  cat <<EOF > $PROM_DIR/nubis.prom
nubis{project="$NUBIS_PROJECT",environment="$NUBIS_ENVIRONMENT",arena="$NUBIS_ARENA",account="$NUBIS_ACCOUNT",purpose="$NUBIS_PURPOSE",platform="$NUBIS_PLATFORM"} 1
EOF

  # generate fake metrics for AWS propreties
  INSTANCE_ID=$(curl -fqs http://169.254.169.254/latest/meta-data/instance-id)
  REGION=$(curl -fqs http://169.254.169.254/latest/dynamic/instance-identity/document | jq '.region' -r)
  AZ=$(curl -fqs http://169.254.169.254/latest/meta-data/placement/availability-zone)
  TYPE=$(curl -fqs http://169.254.169.254/latest/meta-data/instance-type)
  AMI=$(curl -fqs http://169.254.169.254/latest/meta-data/ami-id)
  INSTANCE=$(curl -fqs http://169.254.169.254/latest/meta-data/instance-id)

  cat <<EOF > $PROM_DIR/aws.prom
aws{region="$REGION",availability_zone="$AZ",instance_type="$TYPE",ami_id="$AMI",instance_id="$INSTANCE"} 1
EOF

  systemctl start node_exporter

  # Enable Consul service check
  if [ -r "/etc/consul/svc-node-exporter.json.gz" ]; then
    gunzip /etc/consul/svc-node-exporter.json.gz
    systemctl reload consul
  fi

else

  # Disable Consul service check
  if [ -r "/etc/consul/svc-node-exporter.json" ]; then
    gzip /etc/consul/svc-node-exporter.json
    systemctl reload consul
  fi

  systemctl stop node_exporter

fi
